<div class="contents-box">
  <div id="chat-frame">
    <p class="chat-talk">
        <span class="talk-icon">
            <img src="/assets/kenken.jpg" alt="tartgeticon" width="50" height="50"/>
        </span>
        <span class="talk-content">[トーク内容を記載]</span>
    </p>
    <p class="chat-talk mytalk">
        <span class="talk-icon">
            <img src="/assets/kenji.jpg" alt="myicon" width="50" height="50"/>
        </span>
        <span class="talk-content">[トーク内容を記載]</span>
    </p>
  </div>
  <form action="index_submit" method="get" accept-charset="utf-8">
    <input name="" class="messe_input"></textarea>
    <button class="btn btn-success messe_sent">送信</button>
  </form>
</div>
