<div class="contents-box">
  <img src="/assets/chat.png" alt="" class="title">
  <div class="groups-box">

    <div class="group-box">
        <img src="/assets/maicrosoft.png" alt="" class="icon">
      <div class="summary">
        <p id="person">Microsoft</p>
        <p id="title">💼：営業がしたいです。</p>
        <p id="last_message">相手：お世話になっております。</p>
      </div>
    </div>

    <div class="group-box">
        <img src="/assets/cubic.png" alt="" class="icon">
      <div class="summary">
        <p id="person">cubic</p>
        <p id="title">💼：エンジニアがしたいです。</p>
        <p id="last_message">相手：お世話になっております。</p>
      </div>
    </div>

  </div>
  </div>
</div>
