<style>
  * {
      margin: 0;
      padding: 0;
  }
  .main{
    height: 100%;
    width: 100%;
    background-color: white;
  }
  .main_inner{
    height: 100%;
    width: 980px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .user-messages_head{
    height: 90px;
    width: 100%;
    background-color: #f0ffff;
    margin-bottom: 5px;
  }
  .user-messages-wrapper{
    height: 100%;
    width: 100%;
    background-color: white;

  }
  .user-messages-index-wrapper{
    width: 40%;
    height: 100%;
    float: left;
    background-color: #f0ffff;
  }
  .user-messages-new-container{
    width: 60%;
    height: 100%;
    float: right;
    background-color: #f0f8ff;
  }
  .clearfix:after {
    display: block;
    clear: both;
    content: "";
  }
  .user-messages-thread-avatar{
    left: 30px;
    top: 20px;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    overflow: hidden;
  }
  li {
    list-style: none;
  }
  .group-box{
    height: 88px;
    width: 360px;
    border: solid #008080;
  }

insert into groups values(1, 4, 1, )

</style>

<div class="main">
  <div class="main_inner clearfix">
    <div class="user-messages_head">
      <div id="">
        <p>ユーザーのアイコンを左寄せで表示</p> 
      </div>
    </div>
    <div class="user-messages-wrapper">
      <div class="user-messages-index-wrapper">
        <div class="user-messages-single-inner">
          <ul class="groups">
            <% @groups.each do |group| %>
              <li>
                <a href="/groups/<%= group.id %>/messages" title="">
                  <div class="group-box">
                    <p>アイコン挿入</p>
                    <% if current_user.nil? %>
                      <p><%= group.user.name %><p>
                    <% else %>
                      <p><%= group.admin.name %><p>
                    <% end %>
                    <p><%= group.messages[0].message %></p>
                  </div>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class=user-messages-new-container ">
      </div>
    </div>
  </div>
</div>
