<div class="login_body">
  <div class="post_head">
    <h2>ログイン</h2>
  </div>
  <div class="blank"></div>

  <div class="student_profile">
    <label class="login_label">メールアドレス</label>
    <input type="email" name="company_email" class="sign_form" placeholder="example@mail.com">
  </div>

  <div class="student_profile">
    <label class="login_label">パスワード</label>
    <input type="password" name="company_password" class="sign_form" placeholder="abcdef123">
  </div>

  <div class="post_in">
    <a href="#">
      <div class="input_btn">
        ログイン
      </div>
    </a>
  </div>
</div>
