// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// admin

@media screen and (max-width: 640px) {
  .login_label {
    width:30%;
  }
}
