/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
<<<<<<< HEAD

/*li{*/
/*    float:right;*/
/*    list-style:none;*/
/*    padding:13px 12px;*/
/*    margin-right:5px;*/
/*    font-size:20px;*/
/*}*/

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

*{
    margin:0;
    padding:0;
}


h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
}

li {
  list-style: none;
  float:right;
}

a {
  text-decoration: none;
}

/*-----------------------------------------*/
/*header                                   */
/*-----------------------------------------*/
.header {
  height:70px;
  width:100%;
  background-color:skyblue;
  overflow: hidden;
}

.header_left {
  width: 30%;
  display: inline-block;
  float: left;
}

.header_left a {
  border: 3px solid white;
  color: white;
  padding: 5px;
}

.header_left a:hover {
  /*background-color: aliceblue;*/
  /*border: 3px solid aliceblue;*/
  /*color: skyblue;*/
  border-radius: 30px;
  padding: 7px;
}

.header_left h1 {
  line-height: 70px;
}

.header_right {
  width: 50%;
  margin-right: 5%;
  display: inline-block;
  float: right;
}

.header_right li {
  line-height: 70px;
  padding:0 10px;
}

.header_right li a {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

/*-----------------------------------------*/
/*contents                                 */
/*-----------------------------------------*/
.container {
  width: 100%;
  overflow: hidden;
}

/*main_image-------------------------------*/
#main_image {
  /*background-image: url('./asset/main_image.jpg');*/
  /*background-size: cover;*/
  background-color: lightgrey;
  width: 100%;
  height: 300px;
}

/*tags-------------------------------------*/
.tags {
  width: 10%;
  margin: 30px 0 30px 3%;
  display: inline-block;
  float: left;
}

.tags li {
  width: 100%;
  margin: 2px 0;
  border-bottom: 1px solid lightgrey;
}

.tags li a {
  color: lightgreen;
  font-weight: 600;
}

.tags li a:hover {
  color: lightsalmon;
}


/*-----------------------------------------*/
/*footer                                   */
/*-----------------------------------------*/
footer {
  width: 100%;
  height: 50px;
  background-color: skyblue;
  color: white;
}

footer p {
  line-height: 50px;
}
 

/*sign upページのＣＳＳここから*/

.sign_up{
    text-align: center;
    padding-top:50px;
    width:100%;
}

.field{
    margin:auto;
    padding-right:30px;
}

.form{
    text-align:left;
}

.sign_up_forms{
    /**/
    background:rgba(204,204,204,0.3);
    border:solid 2px DarkSlateGrey;
    border-radius: 10px;
    margin-right:25%;
    margin-left:25%;
    padding-left:5%;
    padding-right:5%;
    text-align:right;
    padding-bottom:10px;
}

.field input{
    border-radius: 5px;
    border:solid 1px Grey;
}

.actions input{
    width:15%;
    height:25px;
    background: Orange;
}

.action input:hover{
    border-radius: 5px;
}
.cancel_log_in{
    padding-top:10px;
    text-align: center;
    
}