/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

/*li{*/
/*    float:right;*/
/*    list-style:none;*/
/*    padding:13px 12px;*/
/*    margin-right:5px;*/
/*    font-size:20px;*/
/*}*/

.continer-fluid{
    background: -webkit-linear-gradient(left, #D3F2E9 50%,  #fff 50%);
    background: linear-gradient(to right, #D3F2E9 50%,  #fff 50%);
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #D3F2E9;
}

*{
    margin:0;
    padding:0;
}


h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
}

li {
  list-style: none;
  float:right;
}

a {
  text-decoration: none;
}
/*-----------------------------------------*/
/*header                                   */
/*-----------------------------------------*/
.header {
  width:100%;
  background-size: cover;
  overflow: hidden;
}

.header_menu {
  width: 80%;
  display: inline-block;
  float: right;
}

.header_menu div {
  display: inline-block;
  float: left;
  width: 20%;
  padding-top: 5%;
  /*padding-bottom: 3%;*/
}

.header_menu img {
  width: 60%;
}


/*-----------------------------------------*/
/*contents                                 */
/*-----------------------------------------*/
.container {
  overflow: hidden;
  background-color: #D3F2E9;

}

/*main_image-------------------------------*/
#main_image {
  /*background-image: url('./asset/main_image.jpg');*/
  /*background-size: cover;*/
  background-color: lightgrey;
  width: 100%;
  height: 300px;
}

/*tags-------------------------------------*/
.tags {
  width: 10%;
  margin: 30px 0 30px 3%;
  display: inline-block;
  float: left;
}

.tags li {
  width: 100%;
  margin: 2px 0;
  border-bottom: 1px solid lightgrey;
}

.tags li a {
  color: lightgreen;
  font-weight: 600;
}

.tags li a:hover {
  color: lightsalmon;
}

/*-----------------------------------------*/
/*footer                                   */
/*-----------------------------------------*/
footer {
  width: 100%;
  height: 50px;
  background-color: #333;
  color: white;
}

footer p {
  line-height: 50px;
}

/*sign upページのＣＳＳここから*/



/*// .container{*/
    
/*//     // background-color:#3279c5;*/
/*//     opacity:0.6;*/
/*// }*/

/*// .header_left{*/
/*//     float:left;*/
/*// }*/
/*// li{*/
/*//     float:right;*/
/*//     list-style:none;*/
/*//     padding:13px 12px;*/
/*//     margin-right:5px;*/
/*//     font-size:2px;*/
/*// }*/

/*// .sign_up{*/
/*//     color:red;*/
/*//     padding:100px 0px 100px 0px;*/
/*//     text-align: center*/
/*// }*/



.sign_up{
    text-align: center;
    padding-top:50px;
    width:100%;
}

.field{
    margin:auto;
    padding-right:30px;
}

.form{
    text-align:left;
    padding-top:15px;
}

.sign_up_forms{
    /**/
    background:rgba(204,204,204,0.3);
    border:solid 2px DarkSlateGrey;
    border-radius: 10px;
    margin-right:25%;
    margin-left:25%;
    padding-left:5%;
    padding-right:5%;
    text-align:right;
    padding-bottom:10px;
}

.field input{
    border-radius: 5px;
    border:solid 1px Grey;
}

.actions input{
    width:15%;
    height:25px;
    background-color: rgba(253,150,0,0.8);
}

.actions{
  padding-top:10px;
  text-align:center;
}

.action :hover{
    border-radius: 5px;
    opacity:1;
}
.cancel_log_in{
    padding-top:10px;
    text-align: center;
    
}

/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

/*li{*/
/*    float:right;*/
/*    list-style:none;*/
/*    padding:13px 12px;*/
/*    margin-right:5px;*/
/*    font-size:20px;*/
/*}*/

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

*{
    margin:0;
    padding:0;
}


h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
}

li {
  list-style: none;
  float:right;
}

a {
  text-decoration: none;
}


/*-----------------------------------------*/
/*contents                                 */
/*-----------------------------------------*/
.container {
  width: 100%;
  overflow: hidden;

}

/*main_image-------------------------------*/
#main_image {
  /*background-image: url('./asset/main_image.jpg');*/
  /*background-size: cover;*/
  background-color: lightgrey;
  width: 100%;
  height: 300px;
}

/*tags-------------------------------------*/
.tags {
  width: 10%;
  margin: 30px 0 30px 3%;
  display: inline-block;
  float: left;
}

.tags li {
  width: 100%;
  margin: 2px 0;
  border-bottom: 1px solid lightgrey;
}

.tags li a {
  color: lightgreen;
  font-weight: 600;
}

.tags li a:hover {
  color: lightsalmon;
}


/*.post {*/
/*  overflow: hidden;*/
/*  width: 28%;*/
/*  height: 350px;*/
/*  margin: 30px 0 30px 4%;*/
/*  border: 0.5px solid black;*/
/*  display: inline-block;*/
/*  float: left;*/
/*}*/
.post {
     padding: 0.5em 1em;
    margin: 2em 0 2em 2em;
    width:30%;
    height:350px;
    color: #00BCD4;
    background: #e4fcff;/*背景色*/
    border-top: solid 6px #1dc1d6;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
}


.post_image img{
  width:195px;
  height:105px;
}
  

.user_image img{
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 70px;
  margin: auto;
  border-radius: 40px;
  border:5px solid white;
}

.post_text {
  background:white;
  height: 100px;
  margin-top: 35px;
  padding-top: 10px;
  color:black
}

.post_text li {
  margin-right: 5px;
}

 
 

/*sign upページのＣＳＳここから*/



/*// .container{*/
    
/*//     // background-color:#3279c5;*/
/*//     opacity:0.6;*/
/*// }*/

/*// .header_left{*/
/*//     float:left;*/
/*// }*/
/*// li{*/
/*//     float:right;*/
/*//     list-style:none;*/
/*//     padding:13px 12px;*/
/*//     margin-right:5px;*/
/*//     font-size:2px;*/
/*// }*/

/*// .sign_up{*/
/*//     color:red;*/
/*//     padding:100px 0px 100px 0px;*/
/*//     text-align: center*/
/*// }*/



.sign_up{
    text-align: center;
    padding-top:50px;
    width:100%;
}

.field{
    margin:auto;
    padding-right:30px;
}

.form{
    text-align:left;
    padding-top:15px;
}

.sign_up_forms{
    /**/
    background:rgba(204,204,204,0.3);
    border:solid 2px DarkSlateGrey;
    border-radius: 10px;
    margin-right:25%;
    margin-left:25%;
    padding-left:5%;
    padding-right:5%;
    text-align:right;
    padding-bottom:10px;
}

.field input{
    border-radius: 5px;
    border:solid 1px Grey;
}

.actions input{
    width:15%;
    height:25px;
    background-color: rgba(253,150,0,0.8);
}

.actions{
  padding-top:10px;
  text-align:center;
}

.action :hover{
    border-radius: 5px;
    opacity:1;
}
.cancel_log_in{
    padding-top:10px;
    text-align: center;
    
}

