/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 
.container{
    background-color:#3279c5;
    opacity:0.6;
    height:90px;
    
}

li{
    float:right;
    list-style:none;
    padding:13px 12px;
    margin-right:5px;
    font-size:20px;
}

/*sign upページのＣＳＳここから*/

.sign_up{
    text-align: center;
    padding-top:50px;
    width:100%;
}

.field{
    margin:auto;
    padding-right:30px;
}

.form{
    text-align:left;
}

.sign_up_forms{
    /**/
    background:rgba(204,204,204,0.3);
    border:solid 2px DarkSlateGrey;
    border-radius: 10px;
    margin-right:25%;
    margin-left:25%;
    padding-left:5%;
    padding-right:5%;
    text-align:right;
    padding-bottom:10px;
}

.field input{
    border-radius: 5px;
    border:solid 1px Grey;
}

.actions input{
    width:15%;
    height:25px;
    background-color: Orange;
}

.action input:hover{
    border-radius: 5px;
}
.cancel_log_in{
    padding-top:10px;
    text-align: center;
    
}