// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.entry_edit{
    margin:auto;
    text-align:left;
    
}

.entry_edit th{
}

.entry_edit td{
}

.entry_image{
 width:500px;
 position:absolute;
 top:100px;
 left:28%;
 filter: blur(1px);
 z-index:-2;
}

.entry{
    margin:auto;
}
