// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.entry_edit{
    margin:auto;
    text-align:left;
    
}
.show{
    background-color:white;
    border-radius:20px;
    Z-index:1;
}

.entry_image img{
 border-radius:20px;
 top: 55px;
 width:35%;
 height:auto;
 position:relative;
//  filter: blur(1px);
 overflow:hidden;
 z-index:0;
}

.entry{
    margin:auto;
}
