// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// カラーコード一覧
// #85CBBF(ちょっと濃い緑) #D3F2E9(一番薄い緑) #064444(濃緑) #58858E(紺色)


// common

// スマホ
@media screen and (max-width: 640px) {
  .contents-box {
    overflow: hidden;
    min-height: 83.5vh;

  }


  .title {
    width: 85%;
  }

  .groups-box {
    background: #D3F2E9;
  }

  .group-box {
    height: 100px;
    background: #fff;
    margin-bottom: 10px;
    line-height: 10px;
    border-radius: 35px;
  }

  .icon {
    height: 60px;
    width: 60px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10%;
  }

  #person{
    font-size: 16px;
  }
  #title{
    font-size: 18px;
  }
  #last_message{
    font-size: 18px;
  }

  .summary {
    text-align: left;
    padding-top: 25px;
    overflow: hidden;
    line-height: 1.3em;
  }

}
// PC
