.image img{
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
    /*top:50px;*/
    border-radius: 50%;
    z-index:3;
    border:5px solid white;
    /*-moz-border-image: border-radius: 150px;*/
    /*-webkit-border-image: border-radius: 150px;*/
}

.entry_text{
  width:100%;
}


.companies{
    margin : auto;
    text-align: left;
}

.companies tr, tr>td, tr>th{
  padding-top :10px;
  padding-bottom : 10px;
}

.companies th {
  width:200px;
  padding-left:10px;
}

.companies td{
  width : 300px;
  padding-left: 10px;
}

.form{
  width:250px;
}

.entry_edit{
    margin:auto;
    text-align:left;
    
}

.entry_edit th{
}

.entry_edit td{
}

/*.entry_image{*/
/* width:500px;*/
/* position:relative;*/
/* left:25%;*/
/* filter: blur(1px);*/
/* z-index:2;*/
/*}*/

.entry{
    margin:auto;
}

